html {
    background-color: #000;
    background-image: url("../images/bg4.jpg");
    background-size: cover;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    display: none;
}
#wrapper {
    min-width: 1390px;
    width: 1390px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}

.map {
    border: 10px solid rgba(0, 0, 0, 0.5);
    border: 8px solid transparent;
    border-image: url("../images/border2.png") 20 20;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    width: 1296px;
    margin-left: auto;
    margin-right: auto;
}

.canvas {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    min-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.darken {
    background-color: #fff;
    opacity: 0.8;
}

.darken:hover {
    background-color: #fff;
    opacity: 1;
}

#menu {
   float:left;
   color: #fff;
   margin-top:25px;
   z-index: 0;
   width: 30px;
   height: 32px;
}
