.bgDay {
  @apply bg-gray-900;
  background: url('/assets/images/fallDay.png') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.bgNight {
  @apply bg-gray-900;
  background: url('/assets/images/fallNight.png') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.tileHouse {
  background-color: #141221;
}
