.bgDay {
  @apply bg-gray-900;
  background: url("/assets/images/winterDay.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.bgNight {
  @apply bg-gray-900;
  background: url("/assets/images/winterNight.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.tileHouse {
  background-color: #141221;
}
