.bgDay {
  @apply bg-gray-900;
  background: url('/assets/images/bg.jpeg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.bgNight {
  @apply bg-gray-900;
  background: url('/assets/images/bgNight.jpeg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}