.gameContainer {
  background: #141122;
  position: relative;
  width: 352px;
  height: 224px;
  transform: scale(3) translateY(-4%);

}


.gameContainer canvas {
  image-rendering: pixelated;
  //border: 4px dotted blue;
}
