# Jetbrains
/.idea/

# Mac Specific
.DS_Store

# Javascript
node_modules/
coverage/
build/
generated/
cache/

coverage-combined/
coverage.html
coverage.out

# Codecov
codecov
codecov.yml

# dependencies
.pnp
.pnp.js

# next.js
.next/
out/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
backend/.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
*/.env
# Local Netlify folder
.netlify

backend/temp/
